.banner {
    background-image: url('../assets/bren-banner-cropped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 436px;
    text-align: right;
    color: white;
}