.App {
  min-height: 100vh;
  padding: 0 25vw;
  @media (max-width: 1080px) {
    padding: 0;
  }
  @media (min-width: 2000px) {
    padding: 0 30vw;
  }
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.App-nav a {
  color: white;
}

.App-body {
  // padding: 20px 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
